/**
 * Stackius Style v3
 * Based to be on top of Twitter Bootstrap.
 * @author Nat Welch
 */

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

img.gravatar {
  vertical-align: middle;
  .border-radius(3px);
}

#messages {
  .gravatar {
    height: 24px;
    margin: 2px 5px 5px 0px;
  }

  .message-meta {
    float: right;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 3px;
  }
}

.top-btn {
  margin: 10px;
}

body {
  background: url("/images/texturetastic_gray.png");
  padding-bottom: 40px;
}

.table {
  td {
    border-top: none;
    border-bottom: 1px solid #DDD;
  }
}
