<div class="posts">

</div>
<div class="chatform">
  <form id="posttochat" method="post" action="<%= url(:chat, :new) %>">
    <input type="text" name="text" />
    <input type="hidden" name="idea" value="<%= @idea.id %>" />
    <input type="hidden" name="user" value="<%= @user.id %>" />
    <input type="submit" />
  </form>
</div>
