<div class="board">
  <canvas id="cnvs">
  <p>Your browser doesn't support canvas.</p>
  </canvas>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var canvas = $('#cnvs');
  });
</script>
