<div>
  <div class="page-header">
    <h1>
      About
      <small>Stackius</small>
    </h1>
  </div>

  <div class="row">
    <div class="span5 well">
      <h2>What?</h2>
      <p>
      Stackius (which seriously needs a better name...) is a new project management tool for &quot;Casual Mother-Fuckers&quot;.
      </p>

      <p>
      What does that even mean? Well, in the project management world, it seems to us here at DevCloud that everything is either aimed at businesses that &quot;Have Their Shit Together&quot; or just individuals. You though, you're casual. So casual that you just chill on the couch, hanging with your girls and guys, spitting ideas left and right. And you think, damn, I should write this shit down. So you do. Then you immediately forget about it until months later in another conversation which brings you back to your original idea, but some details are lost to the inevitable memory fog, so you write down a few more on a napkin which you lose. This cycle repeats, casually, forever.
      </p>

      <p>
      But that's cool! We are here to help. We provide a mobile and web interface for you and your friends to collaborate together and write this shit down, so next time you're feeling productive, you can call upon a huge repository of thoughts from when you were kicking it casually. Because we want you to stay casual and still help the world (regardless of whether it's through making fart apps or curing cancer).
      </p>

      <p>
      We're not available to the general public yet, but we will be someday. And then we can be casual as fuck together.
      </p>

      <p>
      Your friend,<br />
      /Nat
      </p>
    </div>
    <div class="well span6">
      <h2>Quotes</h2>

      <p>Quotes to think about while being casual.</p>

      <blockquote cite="http://en.wikiquote.org/wiki/House_(TV_series)/Season_2#Deception_.282.09.29">
        <p>Yeah, what else turns you on? Drugs? Casual sex? Rough sex? Casual rough sex? I'm a doctor; I need to know.</p>
        <small>Dr. House</small>
      </blockquote>

      <blockquote class="pull-right">
        <p>If you want to have good ideas you must have many ideas. Most of them will be wrong, and what you have to learn is which ones to throw away.</p>
        <small>Linus Pauling</small>
      </blockquote>

      <blockquote class="pull-left">
        <p>The end is never the end. A new challenge awaits. A test no man could be prepared for. A new hell he must conquer and destroy. A new level of growth he must confront himself. The machine in the ghost within. This is the journey of the man on the moon.</p>
        <small>Common</small>
      </blockquote>

      <blockquote class="pull-right">
        <p>Go to Heaven for the climate, Hell for the company.</p>
        <small>Mark Twain</small>
      </blockquote>
    </div>
  </div>
</div>
