<div>
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis arcu ac nisl dignissim faucibus. Mauris ut pulvinar augue. Phasellus sit amet arcu eget tellus fermentum interdum. Quisque viverra laoreet hendrerit. Vestibulum accumsan tempus sapien ut rutrum. Nam luctus enim ac velit vehicula eget mattis lorem dignissim. Etiam suscipit, arcu eu congue sagittis, magna tortor ultricies mauris, in ornare nibh neque nec erat. Aliquam mollis lacus a felis dictum feugiat. Nullam ultricies laoreet nunc, non ornare erat imperdiet vel. Sed auctor velit a nisi semper quis malesuada augue lacinia. Praesent eu scelerisque nisl. Fusce posuere lectus et nisi aliquam ut aliquet tellus blandit. Ut dictum tortor in velit aliquet in accumsan massa congue. Donec ut massa in diam ornare facilisis non sed sapien.
  </p>

  <p>
  Cras nec libero metus. Morbi magna velit, fermentum id mattis vel, suscipit sed orci. Praesent congue consequat consectetur. In placerat lacus et sapien condimentum vitae sollicitudin turpis vehicula. Sed aliquet nunc at dolor vestibulum luctus. Pellentesque consectetur mattis lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque enim, ultrices ut condimentum quis, pretium eget sem. In id magna tellus, in euismod purus. Pellentesque posuere luctus viverra. Donec id massa purus, sit amet feugiat eros.
  </p>

  <p>
  Mauris sed leo lectus. Suspendisse accumsan, eros at suscipit sodales, sem mauris egestas diam, dictum fermentum est nulla a odio. Nullam in felis et nulla laoreet auctor at eu justo. Duis eu massa nisi, at mollis leo. Nam vel mi dui, vel pharetra sem. Duis dictum mattis bibendum. Sed nec pharetra dui. Mauris placerat suscipit venenatis. Nunc viverra interdum imperdiet. Donec tristique quam quis enim tristique sit amet venenatis velit faucibus. Donec et sagittis erat.
  </p>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Exit Music (For A Film)</h2>
      <p>
      Wake... from your sleep<br />
      The drying of your tears<br />
      Today we escape, we escape
      </p><p>
      Pack... and get dressed<br />
      Before your father hears us<br />
      Before all hell breaks loose
      </p><p>
      Breathe, keep breathing<br />
      Don't lose your nerve<br />
      Breathe, keep breathing<br />
      I can't do this alone
      </p><p>
      Sing... us a song<br />
      A song to keep us warm<br />
      There's such a chill, such a chill
      </p><p>
      You can laugh<br />
      A spineless laugh<br />
      We hope your rules and wisdom choke you<br />
      Now we are one in everlasting peace
      </p><p>
      We hope that you choke, that you choke<br />
      We hope that you choke, that you choke<br />
      We hope that you choke, that you choke
      </p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
