<div class="hero-unit">
  <h1>Welcome!</h1>

  <p>
  Stackius is a place for storing your thoughts and working with others casually on ideas.
  </p>

  <% if @user.nil? %>
    <p>
    We are currently in a closed alpha. Contact Nat if you would like to help test or find out more.
    </p>
  <% end %>

  <p>
  <% if @user.nil? %>
    <a class="btn btn-primary btn-large" href="/auth/github">Log-in with Github</a>
    <% if Padrino.env == :development %>
      <a  class="btn btn-large" href="/auth/developer">Log-in as a dev</a>
    <% end %>
  <% else %>
    <a class="btn btn-primary btn-large" href="/<%= @user %>">Go to your topics</a>
  <% end %>
  </p>
</div>
